.meals {
    max-width: 60rem;
    width: 90%;
   
    animation: meals-appear 1s ease-out forwards;
    background-color: aliceblue;
    
    margin: auto;
    margin-top: 2rem;
    position: relative;

    border-radius: 14px;
    padding: 1rem;
  }
  
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  div{
    font-style: italic;
    margin: top 0;
  }
  li{
    color:#a61111;
    font-style:normal;
  }
  h2{
    font-style:normal;
  }
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }